.headerSection {
  position: relative;
  background-image: url('/contact_banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  align-items: center;
}

.textShadow {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.contentContainer {
  position: relative;
  z-index: 2;
  width: 100%;
}
