.landingImg {
  position: relative;
  /* width: 70%; */
  margin-left: auto;
  height: calc(100vh - 80px);
  /* background-image: url('/model_3.png'); */
  background-position: top center;
  background-size: cover;
}

.homeBg {
  background-image: url('/hero_multi_product.png');
}

.shopBg {
  background-image: url('/shop_multi_product.png');
}
